affine
aiohappyeyeballs
aiohttp
aiosignal
appnope
asttokens
attrs
beautifulsoup4
black
bleach
blinker
bs4
certifi
charset-normalizer
click
cligj
comm
contextily
contourpy
cssselect
cycler
debugpy
decorator
et_xmlfile
executing
fastjsonschema
filelock
Flask
fonttools
frozenlist
fsspec
geographiclib
geopandas
geopy
graphviz
idna
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kaggle
kagglehub
kagglesdk
kiwisolver
librt
lxml
MarkupSafe
matplotlib
matplotlib-inline
mercantile
mpmath
multidict
mypy
mypy_extensions
narwhals
nbformat
nest-asyncio
networkx
numpy
openpyxl
opt_einsum
packaging
pandas
parso
pathspec
patsy
pexpect
pillow
platformdirs
plotly
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
Pygments
pyogrio
pyparsing
pyproj
pyquery
pyro-api
pyro-ppl
python-dateutil
python-slugify
pytokens
pytz
PyYAML
pyzmq
rasterio
referencing
requests
rpds-py
scikit-learn
scipy
seaborn
setuptools
shapely
six
soupsieve
stack-data
statsmodels
sympy
text-unidecode
threadpoolctl
torch
torch-geometric
torchvision
tornado
tqdm
traitlets
types-requests
types-tqdm
typing_extensions
tzdata
urllib3
wcwidth
webencodings
Werkzeug
xxhash
xyzservices
yarl
